{% extends 'Core/base.html' %}
{% block titulo %}Páginas{% endblock %}
{% block contenido %}
  <h2 class="mb-4">Listado de páginas</h2>
  {% if paginas %}
    <div class="row">
      {% for pagina in paginas %}
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h5 class="card-title">{{ pagina.titulo }}</h5>
              <p class="card-text">{{ pagina.subtitulo }}</p>
              <a href="{% url 'detalle_pagina' pagina.pk %}" class="btn btn-sm btn-outline-primary">Leer más</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info">No hay páginas aún.</div>
  {% endif %}
  {% if user.is_authenticated %}
    <a class="btn btn-success" href="{% url 'crear_pagina' %}">Crear nueva página</a>
  {% endif %}
{% endblock %}
