{% extends 'nucleo/base.html' %}
{% block titulo %}Páginas{% endblock %}
{% block contenido %}
  <h1>Listado de Páginas</h1>
  {% if paginas %}
    <ul>
      {% for pagina in paginas %}
        <li>
          <h3>{{ pagina.titulo }}</h3>
          <p>{{ pagina.subtitulo }}</p>
          <a href="{% url 'detalle_pagina' pagina.pk %}">Leer más</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay páginas aún.</p>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{% url 'crear_pagina' %}">Crear página</a>
  {% endif %}
{% endblock %}
